*{
    font-family: 'Poppins','serif';
}

.container{
    margin-left: 100px;
    margin-top: 30px;    
}

.navbar{
    margin-top: 40px;  
    margin-left: 60px;  
  }
  
.list{
    float: left;
    font-weight: bold;    
    margin-top: 10px;
}
  
.list-item{
    margin-left: 30px;    
    font-weight: 300;
    color: #989898;
}

.list-item:first-child{
    color: #000000;
    font-weight: 400;
}

.navbar-container > div > img{
    width: 100px;    
    overflow: hidden;
    float: left;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

.nav-button{
    border-radius: 8px;
    float: right;
    margin-right: 100px;
    border: none;
    width: 110px;
    height: 40px;
    background-color: #5955b3;
    color: #fff;
}

.banner-container{
    overflow: hidden;
    display: inline-block;  
}

.banner-container div:nth-child(1){
    text-align: left;
    margin-top: 50px;
    overflow: hidden;
    display: inline-block;
    width: 30%;
}

.banner-container div:nth-child(1) > button{
    float: left;
    margin-top: 30px;
    width: 200px;
    height: 55px;
    font-size: 15px;
}

.banner-container div:nth-child(2){
    float: right;
    width: 70%;
    margin-top: 30px;
}

.banner-container div:nth-child(2) > img{
    width: 100%;
}

.heading-text{    
    font-size: 50px;
    color: #3c2f60;
    font-weight: 600;
    margin-bottom: 25px;
}

.heading-text > span{
    color: #5955b3;
}

.description{    
    font-size: 15px;
    color: #989898;
    margin-top: 0px;
}